@charset "UTF-8";

body{
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: lightblue;
}
h2{
    color: darkred;
}
h3{
    color: darkblue;
    background-color: lightblue;
}